body {
  background-color: #faf1ec;
}

main {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.card {
  text-align: center;
  width: 400px;
  height: auto;
  background-color: white;
  margin: 10px;
}

.card__img {
  width: 400px;
  height: auto;
}

.card__text {
  text-align: center;
  letter-spacing: 4px;
}

.card--text__big {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.card__button {
  padding: 10px;
  text-align: center;
  background-color: white;
  color: rgb(172, 172, 172);
  border: solid #bbbbbb;
  width: 80%;
  margin: 20px;
}
