body {
  background-color: #cccccc;
}

.box {
  width: 400px;
  background-color: #333333;
  color: white;
  padding: 10px;
  margin: 10px;
  float: right;
}

.container {
  background-color: #707070;
  width: 1320px;
  height: 330px;
}
