body {
  background-color: #8b0000;
}

.my-div {
  width: 600px;
  height: 600px;
  margin: auto;
}
.my-section {
  width: 50%;
  height: 70%;
  border: 4px double #ffffff;
  text-align: center;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 8px;
}

p {
  color: white;
}

.small {
  font-size: 30px;
}
