body {
  background-image: url("./img/grass.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.image {
  width: 512px;
  height: 512px;
  background: url("./img/feather.png") no-repeat left bottom / cover,
    url("./img/explosive.png") no-repeat right bottom / cover;
}
