body {
  margin: 0;
  height: 100vh;
  text-align: center;
}

.my-div {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-style: italic;
}

.my-div p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
}

.round-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -75px;
}

.fa-star {
  color: #b7850e;
}
